{% extends 'base/base.html' %}
{% block content %} 
<div class="container mt-4">

  <h6 class="text-uppercase fw-bold text-muted mb-4" style="letter-spacing: 1px;">
        Liste des <span class="text-danger">notes</span>
    </h6>
    <h6 class="text-uppercase fw-bold text-muted mb-4" style="letter-spacing: 1px;">
        Classe : <span class="text-danger">{{ classe.nom }}</span> | Matière : <span class="text-danger">{{ matiere.nom }}</span> | Période : <span class="text-danger">{{ periode.nom }}</span>
    </h6>
    <hr><br>

  <div class="mb-3 text-end">
    <a href="{% url 'modifier_notes_classe' classe.id matiere.id periode.id %}" class="btn btn-warning">
      Modifier les notes
    </a>
  </div>

  <table class="table table-bordered table-striped table-sm">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Élève</th>
        <th>Type d'évaluation</th>
        <th>Note</th>
        <th>Barème</th>
      </tr>
    </thead>
    <tbody>
      {% for note in notes %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ note.eleve.nom }} {{ note.eleve.prenoms }}</td>
        <td>
            {% if note.type_evaluation %}
              {{ note.type_evaluation.libelle }}
            {% else %}
              -
            {% endif %}
          </td>
        <td>{{ note.valeur }}</td>
        <td>
            {% if note.type_evaluation %}
              {{ note.type_evaluation.bareme }}
            {% else %}
              -
            {% endif %}
          </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5" class="text-center">Aucune note enregistrée.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  
        <div class="mt-4 d-flex justify-content-between">
            <a href="{% url 'ajouter_notes_classe' classe.id matiere.id periode.id %}" class="btn btn-primary">
              Ajouter de nouvelles notes
            </a>
            <a href="javascript:history.back()" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Annuler
            </a>
        </div>

</div>
{% endblock %}
