{% extends 'base/base back.html' %}

{% block content %}
    
        <h2>Liste des paiements des frais de cantine</h2>
        <div class="mb-3">
            <a href="{% url 'export_paiements_cantine_excel_back' %}" class="btn btn-success mt-3">Exporter en Excel</a>
            <a href="{% url 'export_paiements_cantine_pdf_back' %}" class="btn btn-danger mt-3">Exporter en PDF</a>
        </div>
        <table id="paiementsTable" class="display">
            <thead>
                <tr>
                    <th>Établissement</th>
                    <th>Élève</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Mode de paiement</th>
                    <th>Échéance</th>
                </tr>
            </thead>
            <tbody>
                {% for paiement in paiements %}
                <tr>
                    <td>{{ paiement.inscription.classe.etablissement.nom }}</td>
                    <td>{{ paiement.inscription.eleve.nom }} {{ paiement.inscription.eleve.prenoms }}</td>
                    <td>{{ paiement.montant }} FCFA</td>
                    <td>{{ paiement.date_paiement|date:"d/m/Y" }}</td>
                    <td>{{ paiement.get_mode_paiement_display }}</td>
                    <td>{{ paiement.echeance.nom }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'dashboard_tresorerie' %}" class="btn btn-secondary">← Retour au tableau de bord</a> 

    
    <script>
        $(document).ready(function() {
            $('#paiementsTable').DataTable({
                "language": {
                    "search": "Rechercher :",
                    "lengthMenu": "Afficher _MENU_ entrées",
                    "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "next": "Suivant",
                        "previous": "Précédent"
                    }
                }
            });
        });
    </script>
{% endblock %}
