{% extends 'base/base back.html' %}
{% load static %}

{% block content %}
<h6 class="text-uppercase fw-bold text-muted mb-4" style="letter-spacing: 1px;">
   Suivi de la scolarité – <span class="text-danger">Tous les établissements</span>
</h6>
<hr></br>
<!-- Bouton d'ajout ou autre action -->
<div class="mb-3">
    <a href="{% url 'rapport_export_etatscolarite_secretariat_pdf' %}" class="btn btn-danger">📄 Exporter en PDF</a>
    <a href="{% url 'rapport_export_etatscolarite_secretariat_excel' %}" class="btn btn-success">📊 Exporter en Excel</a>
</div>

<table id="tableEffectif" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Établissement</th>
            <th>Total Échéance</th>
            <th>Total Versé</th>
            <th>Solde</th>
        </tr>
    </thead>
    <tbody>
        {% for item in resultats %}
        <tr>
            <td>{{ item.etablissement.nom }}</td>
            <td>{{ item.total_echeance|floatformat:0 }}</td>
            <td>{{ item.total_verse|floatformat:0 }}</td>
            <td>{{ item.total_solde|floatformat:0 }}</td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>



<script>
    $(document).ready(function() {
        $('#tableEffectif').DataTable({
            "language": {
                "search": "Rechercher :",
                "lengthMenu": "Afficher _MENU_ entrées",
                "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                "paginate": {
                    "first": "Premier",
                    "last": "Dernier",
                    "next": "Suivant",
                    "previous": "Précédent"
                }
            }
        });
    });
</script>
{% endblock %}
